<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="jp.co.jmas.Decode2017Demo">
	<uses-sdk android:minSdkVersion="19" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<application android:label="decode2017_MW08.Droid" android:theme="@style/MyTheme">
		<service android:name="com.beacapp.service.JBCPScanService" android:process=":bleservice" android:exported="false">
			<intent-filter>
				<action android:name="com.beacapp.BLEServiceAIDL"></action>
				<action android:name="com.beacapp.BLEServiceCalbackAIDL"></action>
			</intent-filter>
		</service>
	</application>
</manifest>